<%= form_with scope: :new, url: new_about_path, local: true do |form| %>
<% end %>

<h1>About</h1>

<%= image_tag "about.JPG" %>

<p>this is my about page. here is my about picture. this is my about description</p>
